{% extends "base_presentation.html" %}


{% block content %}

{% with request.resolver_match.url_name as url_name %}
<div class="presentation-nav btn-group btn-group-justified" role="group">
    <a href='{% url "runs-timer-app" competition.id %}' class="btn{% if url_name == 'runs-timer-app' %} active{% endif %}">Timer</a>
    <a href='{% url "run-list-app" competition.id %}' class="btn{% if url_name == 'run-list-app' %} active{% endif %}">Czasy</a>
</div>
{% endwith %}

{% block app_content %}
{% endblock %}

{% endblock %}
