{% extends "base.html" %}

{% load i18n %}

{% block content %}

{% with request.resolver_match.url_name as url_name %}
<ul class="nav nav-pills nav-justified">
    <li class="{% if url_name == 'run-list' %}active{% endif %}"><a href="{% url "run-list" competition.id %}">Runs</a></li>
    <li class="{% if url_name == 'event-list' %}active{% endif %}"><a href="{% url "event-list" competition=competition.id %}">Run events</a></li>
</ul>
{% endwith %}

    {% block competition-content %}
    {% endblock %}

{% endblock %}
