{% extends "run_manager/run.html" %}

{% load i18n %}

{% block competition-content %}

<h2>{{ competition.name }}</h2>
<h4>{% trans "Runs" %}</h4>
<div class="actions">
<a class="btn btn-primary" href="{% url "runs-csv" competition=competition.id %}">Export to CSV</a>
<a class="btn btn-primary" href={% url 'add-identity' %}>Add identity</a>
<form class="form-inline" action="{% url 'reset-runs' competition=competition.id %}" method="post">{% csrf_token %}
    <input type="submit" class="btn btn-danger" value="Reset" />
</form>
</div>

{% include "run_manager/run_list_partial.html" %}

{% if refresh %}
<script type="text/javascript">
setTimeout(function(){
    location.reload();
}, 30000);
</script>
{% endif %}
{% endblock %}
