{% load i18n %}

<table>
    {% for run in object_list %}

        {% if forloop.first %}
            <thead>
            <tr>
                {% for h in run.competition.displayed_runevents %}
                    <th>{{ h }}</th>
                {% endfor %}
                <th>{% trans "Actions" %}</th>
            </tr>
            </thead>
        {% endif %}

        <tr>
            {% for event in run.runevent_data %}
                <td>{{ event }}</td>
            {% endfor %}
            <td class="actions">
                <form class="form-inline" action="{% url 'add-runevent' run=run.id %}" method="post">{% csrf_token %}
                    <input type="hidden" name="name" value="dsq" />
                    <input type="submit" class="btn btn-danger" value="DSQ" />
                </form>
                <form class="form-inline" action="{% url 'add-runevent' run=run.id %}" method="post">{% csrf_token %}
                    <input type="hidden" name="name" value="dnf" />
                    <input type="submit" class="btn btn-danger" value="DNF" />
                </form>
                <a class="btn btn-primary" href={% url 'add-identity' run=run.id %}>Change identity</a>
            </td>
        </tr>

    {% empty %}
        <li>{% trans "Noone participated yet." %}</li>
    {% endfor %}
</table>
