{% extends "run_manager/run.html" %}

{% load i18n %}

{% block competition-content %}

<h2>{{ competition.name }}</h2>
<h4>{% trans "Events" %}</h4>
<table class="table">
    {% for event in object_list %}


        {% if forloop.first %}
            <thead>
            <tr>
                <th>{% trans "ID" %}</th>
                <th>{% trans "Type" %}</th>
                <th>{% trans "Time" %}</th>
                <th>{% trans "Run" %}</th>
                <th>{% trans "Actions" %}</th>
            </tr>
            </thead>
        {% endif %}

        <tr {% if not event.valid %}class="warning"
            {% elif not event.run %}class="danger"{% endif %}>
            {% for prop in event.runevent_properties %}
                <td>{{ prop }}</td>
            
            {% endfor %}
            <td><a class="btn btn-danger" href="{% url 'delete-runevent' pk=event.id %}">Invalid</a>
            <a class="btn btn-default" href="{% url 'update-runevent' competition=competition.id pk=event.id %}">Change run</a></td>
        </tr>

    {% empty %}
        <li>{% trans "There are no events yet." %}</li>
    {% endfor %}
</table>

{% endblock %}
