{% load i18n  %}

<div class="runs_timer_container">
  <div class="runs_timer">
      {% for identity, timer in runs %}
        {% if forloop.first %}<div class="first-timer">{% else %}<div>{% endif %}
            {% if identity %}
                <div class="identity">{{ identity }}</div>
            {% endif %}
            <div class="timer">{{ timer }}</div>
        </div>
      {% empty %}
        <h2>{% trans "Ready" %}<h2>
      {% endfor %}
  </div>
</div>
<script type="text/javascript">
setTimeout(function(){
    location.reload();
}, 1000);
</script>
